body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #2C3E50;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    background-color: #34495E;
    border: none;
    border-radius: 5px;
    color: white;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FFB2E5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #FF6BA3;
}